body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #151C22;
    font-size: 16px;
}
.container {
    width: 1180px;
    margin: 0 auto;
}
/*header */
.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 25px 0;
}
/* .main-menu {} */
.main-menu_target {
    text-decoration: none;
    color: #151C22;
    margin-right: 2rem;
}
.logo {
    margin-left: -10%;
    font-weight: 800;
    font-size: 24px;
}
.buttons-menu {
    display: flex;
    justify-content: space-between;
}
.button-menu {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}
.button-search { 
    background: url(png/search.png) no-repeat center;
}
.button-junk {
    background: url(png/junk.png) no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 1.5rem;
} 
/*header*/
/* promo-section */
.promo { 
    display: flex;
    background-color: #F1F2F4;
}

/* left column promo */
/* .arrow-down {
    width: 10px;
    height: 27px;
    margin-top: 540px;
}  */
.promo__text-block {
    margin-top: 192px;
    margin-bottom: 140px;
    margin-left: 30%;
    margin-right: 50px;
}
.promo__text-description {
    color: #727A82;
    font-size: 18px;
    line-height: 21px;
}
.promo__text-name {
    font-family: 'Anton';
    font-style: normal;
    font-weight: normal;
    font-size: 128px;
    color: #151C22;
    margin: 0;
    margin-top: -35px;
}
.promo__text-button {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #000;
    padding: 26px 29px;
    border: none;
}

/* left column promo section over */
.promo__photo-block {
    position: relative;
}

.promo-img {
    position: relative;
    width: 430px;
    height: 517px;
    margin-left: 50px;
    margin-top: 50px;
    z-index: 2;
}
.diagonal, .diagonal-reverse {
    position: absolute;
    width: 232px;
    height: 176px;
    background-image: url(./png/diagonal.png);
}
.diagonal {
    top: 0;
    left: 0;
    z-index: 0;
}
.diagonal-reverse {
    bottom: 0;
    right: -50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
/* right-column-promo-section-over */
/* promo-section-over */