@import 'bootstrap';
@import 'sass';


body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #151C22;
    font-size: 16px;
}
.container {
    width: 1180px;
    margin: 0 auto;
}
/*header */
.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 25px 0;
}
/* .main-menu {} */
.main-menu_target {
    text-decoration: none;
    color: #151C22;
    margin-right: 2rem;
}
.logo {
    margin-left: -10%;
    font-weight: 800;
    font-size: 24px;
}
.buttons-menu {
    display: flex;
    justify-content: space-between;
}
.button-menu {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}
.button-search { 
    background: url(png/search.png) no-repeat center;
}
.button-junk {
    background: url(png/junk.png) no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 1.5rem;
} 
/*header*/
/* promo-section */
.promo { 
    display: flex;
    width: 670px;
    margin: 0 auto;
}
.promo-background {
    background-color: #F1F2F4;
}

/* left column promo */
/* .arrow-down {
    width: 10px;
    height: 27px;
    margin-top: 540px;
}  */
.promo__text-block {
    margin-top: 192px;
    margin-bottom: 140px;
    
}
.promo__text-description {
    color: #727A82;
    font-size: 18px;
    line-height: 21px;
}
.promo__text-name {
    font-family: 'Anton';
    font-style: normal;
    font-weight: normal;
    font-size: 128px;
    color: #151C22;
    margin: 0;
    margin-top: -35px;
    margin-left: -5px;
}
.button-big {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #000;
    padding: 20px 30px;
    border: none;
    min-width: 200px;
    white-space: nowrap;
    text-align: center;
}

/* left column promo section over */
.promo__photo-block {
    position: relative;
}

.promo-img {
    position: relative;
    width: 430px;
    height: 517px;
    margin-left: 50px;
    margin-top: 50px;
    z-index: 2;
}
.diagonal, .diagonal-reverse {
    position: absolute;
    width: 232px;
    height: 176px;
    background-image: url(./png/diagonal.png);
}
.diagonal {
    top: 0;
    left: 0;
    z-index: 0;
}
.diagonal-reverse {
    bottom: 0;
    right: -50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
/* right-column-promo-section-over */
/* promo-section-over */

.header-strape {
    display: flex;
    justify-content: space-between;
    color: #151C22;
    margin-bottom: 70px;
    margin-top: 100px;
}
.header-name {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}
.view-all, .view-all:active, .view-all:focus, .view-all:hover {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    color: #151C22;
    border: none;
    background-color: white;
}
.view-all::after {
    content: '';
    width: 75px;
    height: 2px;
    background-color: #151C22;
    position: absolute;
    bottom: 5px;
    left: -2px;
}

/* bestsellers */
.bestsellers {
    margin-top: 130px;
}
.main-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 400px;
}
.main-card {
    display: block;
    margin-bottom: 20px;
    color: #151C22;
    width: 270px;
}
.main-card:hover {
    color: #151C22;
    text-decoration: none;
}
.main-card-img {
    width: 270px;
    height: 349px;
}
/* bestsellers-over */
.position-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-top: 25px;
}
.position-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
/* news */
/* .news-section {} */
.news-content {
    display: flex;
}
.news-left-column {
    min-width: 700px;
    min-height: 462px;
}
.news-img {
    max-height: 462px;
    max-width: 700px;
}
.news-right-column {
    position: relative;
    z-index: 2;
}
.news-right-column::after {
    content: '';
    background-image: url(./png/diagonal-news-block.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 115%;
    height: 100%;
    top: 0;
    left: 0;
    right: -60px;
    z-index: -2;
}
.news-text-block {
    margin-top: 31px;
    margin-bottom: 34px;
    padding-left: 43px;
    padding-top: 52px;
    padding-bottom: 33px;
    overflow: hidden;
    background-color: #F1F2F4;
    max-width: 380px;
}

.news-text-header {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding-right: 20%;
    margin-bottom: 27px;
}
.news-date {
    font-size: 18px;
    margin-bottom: 13px;
}
.news-description {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #727A82;
    overflow: hidden;
    max-height: 104px;
    max-width: 310px;
    margin-bottom: 24px;
}
/* new-over */
/* category */
.category {
    margin-bottom: 100px;
}
/* category-over */
.footer, .footer a {
    color: white;
    text-decoration: none;
    background-color: #151C22;
    list-style: none;
}
.footer {
    text-align: center; 
    padding-top: 51px;
    padding-bottom: 50px;
}
.footer-menu li, .footer-socials li {
    list-style-type: none;
}
.footer-header {
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 35px;
    margin-top: 0;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
    margin: 0 auto;
    margin-bottom: 37px;
}
.footer-socials {
    display: flex;
    width: 180px;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-socials-link {
    display: block;
    width: 20px;
    height: 20px;
}
/* footer-over */



/* MODELS-PAGE */
/* nav-promo */
.nav-promo {
    display: flex;
    width: 700px;
    height: 260px;
    margin: 0 auto;
    justify-content: space-between;
}
.nav-promo-left-column {
    overflow: hidden;
    padding-top: 60px;
}
.nav-menu {
    display: flex;
    list-style: none;
}
.nav-menu-item {
    font-size: 18px;
    text-decoration: none;
    color: #727A82;
}
.nav-menu-item_active {
    color: #151C22;
}
.nav-menu li:not(:last-of-type) {
    margin-right: 15px;
}
.nav-menu li:not(:last-of-type)::after {
    content: '/';
    margin-left: 15px;
}
.nav-menu-header {
    font-weight: bold;
    font-size: 32px;
    padding-right: 10%;
}

.nav-promo-right-column {
    margin-left: 30px;
    position: relative;
}
.nav-promo-img {
    width: 299px;
    height: 260px;
    position: relative;
    z-index: 2;
}
.nav-promo-right-column::before {
    content: '';
    display: block;
    position: absolute;
    width: 178px;
    height: 135px;
    background-image: url('./png/diagonal.png');
    left: -30px;
    bottom: 0;
}
.nav-promo-right-column::after {
    content: '';
    display: block;
    position: absolute;
    width: 178px;
    height: 176px;
    background-image: url('./png/diagonal.png');
    right: -30px;
    top: 0;
}
/* nav-promo OVER*/

/* filter-by */
.filter-by {
    width: 243px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 78%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 500;
    font-size: 18px;
    padding-left: 18px;
    border: 2px solid #151C22;
    background-image: url(./png/arrow-little-down.png);
    background-repeat: no-repeat;
    background-position: center right 20px;
}
/* filter-by OVER */
/* positions */
.positions .main-card-img {
    width: 243px;
    height: 270px;
}
.show-more {
    width: 200px;
    margin: 0 auto;
}
.show-more-text {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
}
.show-more .progress {
    margin-bottom: 40px;
}
.show-more .button-big {
    margin-bottom: 380px;
}
/* positions OVER */


/* MODELS-PAGE-OVER */